@page "{id:guid}"
@model Individual_Project_2.Pages.Dashboard.Category.CategoryModel
@{
}

<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary">Overview</button>
    <button type="button" class="btn btn-secondary">Subscriptions</button>
    <button type="button" class="btn btn-secondary">Debts</button>
</div>
<h3>Here You will find the category stuff</h3>

<input type="hidden" asp-for="AccountDetails.AccountID" />