@page "{id:guid}"
@model Individual_Project_2.Pages.Dashboard.MainDashboard.deleteModel
@{
}
<input type="hidden" asp-for="AccountDetails.AccountID" />
<h3>Here you will find some delete buttons and stuff</h3>