@page
@model IndexModel
<h1>Test Table Data</h1>

@if (Model.TestItems.Count == 0)
{
    <p>No data found.</p>
}
else
{
    <table border="1" cellpadding="6" style="border-collapse: collapse;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TestItems)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    </table>
}